<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-ldz-config.dtd">
<configuration>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost/test?autoCommit=true" />
                <property name="username" value="root" />
                <property name="password" value="lindezhi" />
            </dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="sqlmap/UserInfoDao.xml"/>
		<mapper resource="sqlmap/StuCourseDao.xml"/>
	</mappers>
	
	<mapperDelegateProxy class="com.lindzh.mybatis.generator.SimpleDelegateProxy"/>
</configuration>